################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Servicios/API/.vs/API/v16/Server/sqlite3
/Servicios/API/Servicios/obj/Debug/netcoreapp2.2/Servicios.assets.cache
/Servicios/API/Servicios/obj/Debug/netcoreapp2.2/Servicios.csproj.FileListAbsolute.txt
